apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: grafana
spec:
  serverName: {{ include "grafana.hostname.short" . | quote }}
  insecureSkipVerify: false
  rootCAs:
    - secret: local-trust-bundle
